[submodule "test-assignment-CurtisSalinger"]
	path = test-assignment-CurtisSalinger
	url = https://github.com/econ122-f21/test-assignment-CurtisSalinger.git
[submodule "home"]
	path = home
	url = https://github.com/econ122-f21/home.git
